.percentage-0 {
  display:block;
  height : 100%;

 width:0%; background-color: #e70000;


}
.percentage-1 {
  display:block;
  height : 100%;

 width:1%; background-color: #e70000;


}
.percentage-2 {
  display:block;
  height : 100%;

 width:2%; background-color: #e70000;


}
.percentage-3 {
  display:block;
  height : 100%;

 width:3%; background-color: #e70000;


}
.percentage-4 {
  display:block;
  height : 100%;

 width:4%; background-color: #e70000;


}
.percentage-5 {
  display:block;
  height : 100%;

 width:5%; background-color: #e70000;


}
.percentage-6 {
  display:block;
  height : 100%;

 width:6%; background-color: #e70000;


}
.percentage-7 {
  display:block;
  height : 100%;

 width:7%; background-color: #e70000;


}
.percentage-8 {
  display:block;
  height : 100%;

 width:8%; background-color: #e70000;


}
.percentage-9 {
  display:block;
  height : 100%;

 width:9%; background-color: #e70000;


}
.percentage-10 {
  display:block;
  height : 100%;

 width:10%; background-color: #e70000;


}
.percentage-11 {
  display:block;
  height : 100%;

 width:11%; background-color: #e70000;


}
.percentage-12 {
  display:block;
  height : 100%;

 width:12%; background-color: #e70000;


}
.percentage-13 {
  display:block;
  height : 100%;

 width:13%; background-color: #e70000;


}
.percentage-14 {
  display:block;
  height : 100%;

 width:14%; background-color: #e70000;


}
.percentage-15 {
  display:block;
  height : 100%;

 width:15%; background-color: #e70000;


}
.percentage-16 {
  display:block;
  height : 100%;

 width:16%; background-color: #e70000;


}
.percentage-17 {
  display:block;
  height : 100%;

 width:17%; background-color: #e70000;


}
.percentage-18 {
  display:block;
  height : 100%;

 width:18%; background-color: #e70000;


}
.percentage-19 {
  display:block;
  height : 100%;

 width:19%; background-color: #e70000;


}
.percentage-20 {
  display:block;
  height : 100%;

 width:20%; background-color: #e70000;


}
.percentage-21 {
  display:block;
  height : 100%;

 width:21%; background-color: #e70000;


}
.percentage-22 {
  display:block;
  height : 100%;

 width:22%; background-color: #e70000;


}
.percentage-23 {
  display:block;
  height : 100%;

 width:23%; background-color: #e70000;


}
.percentage-24 {
  display:block;
  height : 100%;

 width:24%; background-color: #e70000;


}
.percentage-25 {
  display:block;
  height : 100%;

 width:25%; background-color: #e70000;


}
.percentage-26 {
  display:block;
  height : 100%;

 width:26%; background-color: #e70000;


}
.percentage-27 {
  display:block;
  height : 100%;

 width:27%; background-color: #e70000;


}
.percentage-28 {
  display:block;
  height : 100%;

 width:28%; background-color: #e70000;


}
.percentage-29 {
  display:block;
  height : 100%;

 width:29%; background-color: #e70000;


}
.percentage-30 {
  display:block;
  height : 100%;

 width:30%; background-color: #e70000;


}
.percentage-31 {
  display:block;
  height : 100%;

 width:31%; background-color: #e70000;


}
.percentage-32 {
  display:block;
  height : 100%;

 width:32%; background-color: #e70000;


}
.percentage-33 {
  display:block;
  height : 100%;

 width:33%; background-color: #e70000;


}
.percentage-34 {
  display:block;
  height : 100%;

 width:34%; background-color: #e70000;


}
.percentage-35 {
  display:block;
  height : 100%;

 width:35%; background-color: #e70000;


}
.percentage-36 {
  display:block;
  height : 100%;

 width:36%; background-color: #e70000;


}
.percentage-37 {
  display:block;
  height : 100%;

 width:37%; background-color: #e70000;


}
.percentage-38 {
  display:block;
  height : 100%;

 width:38%; background-color: #e70000;


}
.percentage-39 {
  display:block;
  height : 100%;

 width:39%; background-color: #e70000;


}
.percentage-40 {
  display:block;
  height : 100%;

 width:40%; background-color: #e70000;


}
.percentage-41 {
  display:block;
  height : 100%;

 width:41%; background-color: #e70000;


}
.percentage-42 {
  display:block;
  height : 100%;

 width:42%; background-color: #e70000;


}
.percentage-43 {
  display:block;
  height : 100%;

 width:43%; background-color: #e70000;


}
.percentage-44 {
  display:block;
  height : 100%;

 width:44%; background-color: #e70000;


}
.percentage-45 {
  display:block;
  height : 100%;

 width:45%; background-color: #e70000;


}
.percentage-46 {
  display:block;
  height : 100%;

 width:46%; background-color: #e70000;


}
.percentage-47 {
  display:block;
  height : 100%;

 width:47%; background-color: #e70000;


}
.percentage-48 {
  display:block;
  height : 100%;

 width:48%; background-color: #e70000;


}
.percentage-49 {
  display:block;
  height : 100%;

 width:49%; background-color: #e70000;


}
.percentage-50 {
  display:block;
  height : 100%;

 width:50%; background-color: #e70000;


}
.percentage-51 {
  display:block;
  height : 100%;

 width:51%; background-color: #e70000;


}
.percentage-52 {
  display:block;
  height : 100%;

 width:52%; background-color: #e70000;


}
.percentage-53 {
  display:block;
  height : 100%;

 width:53%; background-color: #e70000;


}
.percentage-54 {
  display:block;
  height : 100%;

 width:54%; background-color: #e70000;


}
.percentage-55 {
  display:block;
  height : 100%;

 width:55%; background-color: #e70000;


}
.percentage-56 {
  display:block;
  height : 100%;

 width:56%; background-color: #e70000;


}
.percentage-57 {
  display:block;
  height : 100%;

 width:57%; background-color: #e70000;


}
.percentage-58 {
  display:block;
  height : 100%;

 width:58%; background-color: #e70000;


}
.percentage-59 {
  display:block;
  height : 100%;

 width:59%; background-color: #e70000;


}
.percentage-60 {
  display:block;
  height : 100%;

 width:60%; background-color: #e70000;


}
.percentage-61 {
  display:block;
  height : 100%;

 width:61%; background-color: #e70000;


}
.percentage-62 {
  display:block;
  height : 100%;

 width:62%; background-color: #e70000;


}
.percentage-63 {
  display:block;
  height : 100%;

 width:63%; background-color: #e70000;


}
.percentage-64 {
  display:block;
  height : 100%;

 width:64%; background-color: #e70000;


}
.percentage-65 {
  display:block;
  height : 100%;

 width:65%; background-color: #e70000;


}
.percentage-66 {
  display:block;
  height : 100%;

 width:66%; background-color: #e70000;


}
.percentage-67 {
  display:block;
  height : 100%;

 width:67%; background-color: #e70000;


}
.percentage-68 {
  display:block;
  height : 100%;

 width:68%; background-color: #e70000;


}
.percentage-69 {
  display:block;
  height : 100%;

 width:69%; background-color: #e70000;


}
.percentage-70 {
  display:block;
  height : 100%;

 width:70%; background-color: #e70000;


}
.percentage-71 {
  display:block;
  height : 100%;

 width:71%; background-color: #e70000;


}
.percentage-72 {
  display:block;
  height : 100%;

 width:72%; background-color: #e70000;


}
.percentage-73 {
  display:block;
  height : 100%;

 width:73%; background-color: #e70000;


}
.percentage-74 {
  display:block;
  height : 100%;

 width:74%; background-color: #e70000;


}
.percentage-75 {
  display:block;
  height : 100%;

 width:75%; background-color: #e70000;


}
.percentage-76 {
  display:block;
  height : 100%;

 width:76%; background-color: #e70000;


}
.percentage-77 {
  display:block;
  height : 100%;

 width:77%; background-color: #e70000;


}
.percentage-78 {
  display:block;
  height : 100%;

 width:78%; background-color: #e70000;


}
.percentage-79 {
  display:block;
  height : 100%;

 width:79%; background-color: #e70000;


}
.percentage-80 {
  display:block;
  height : 100%;

 width:80%; background-color: #e70000;


}
.percentage-81 {
  display:block;
  height : 100%;

 width:81%; background-color: #e70000;


}
.percentage-82 {
  display:block;
  height : 100%;

 width:82%; background-color: #e70000;


}
.percentage-83 {
  display:block;
  height : 100%;

 width:83%; background-color: #e70000;


}
.percentage-84 {
  display:block;
  height : 100%;

 width:84%; background-color: #e70000;


}
.percentage-85 {
  display:block;
  height : 100%;

 width:85%; background-color: #e70000;


}
.percentage-86 {
  display:block;
  height : 100%;

 width:86%; background-color: #e70000;


}
.percentage-87 {
  display:block;
  height : 100%;

 width:87%; background-color: #e70000;


}
.percentage-88 {
  display:block;
  height : 100%;

 width:88%; background-color: #e70000;


}
.percentage-89 {
  display:block;
  height : 100%;

 width:89%; background-color: #e70000;


}
.percentage-90 {
  display:block;
  height : 100%;

 width:90%; background-color: #e70000;


}
.percentage-91 {
  display:block;
  height : 100%;

 width:91%; background-color: #e70000;


}
.percentage-92 {
  display:block;
  height : 100%;

 width:92%; background-color: #e70000;


}
.percentage-93 {
  display:block;
  height : 100%;

 width:93%; background-color: #e70000;


}
.percentage-94 {
  display:block;
  height : 100%;

 width:94%; background-color: #e70000;


}
.percentage-95 {
  display:block;
  height : 100%;

 width:95%; background-color: #e70000;


}
.percentage-96 {
  display:block;
  height : 100%;

 width:96%; background-color: #e70000;


}
.percentage-97 {
  display:block;
  height : 100%;

 width:97%; background-color: #e70000;


}
.percentage-98 {
  display:block;
  height : 100%;

 width:98%; background-color: #e70000;


}
.percentage-99 {
  display:block;
  height : 100%;

 width:99%; background-color: #e70000;


}

.testNoq {
  border-style: dashed;
}